*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-image: url(/img/hojas-naturaleza-verdes-wallpaper-preview.jpg);
    background-size: cover;
    background-position:center ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    border: 2px solid rgba(255, 255,255, 0.2);
    width: 90%;
    max-width: 450px;
    padding: 40px  60px;
    border-radius: 10px;
    color: white;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px  rgba(0, 0,0, 0.2);
}
.container h1{

text-align: center;
margin-bottom: column;
}
form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
form a{
text-decoration: none;
color: #fff;
}
.input-box{
    border: 2px solid rgba(255, 255,255, 0.2);
    display: flex;
    align-items: center;
    height: 60px;
    border-radius: 40px;
    padding: 20px;
}
.input-box input{
    flex: 1;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #fff;
    min-width: 0;
}
.input-box input::placeholder{
    color: #fff;
}
.remember-password{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 14.5px;
}
.remember-password label{
    display: flex;
    align-items: center;
}
.remember-password input{
    margin-right: 5px;
}
form a:hover{
    text-decoration:underline ;

}
.btn{
    border-radius: 30px;
    border: 0;
    outline: 0;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;

}
.register-link{
    text-align: center;
    font-size: 14.5;
}
.register-link a{
    margin-left: 8px;
}
